@font-face {
  font-family: 'NuovaVolte';
  src: url(../fonts/NuovaVolte-Regular.woff2) format('woff2');
}
@font-face {
  font-family: 'NuovaVolte';
  src: url(../fonts/NuovaVolte-Medium.woff2) format('woff2');
  font-weight: medium;
}
@font-face {
  font-family: 'NuovaVolte';
  src: url(../fonts/NuovaVolte-SemiBold.woff2) format('woff2');
  font-weight: bold;
}

* {
  margin: 0px;
  padding: 0px;
}
body {
  font-family: 'NuovaVolte', 'Courier New', Courier, monospace;
}
/*HEADER*/

header {
  display: flex;
  justify-content: space-between;
}

nav {
  display: none;
}

header > a:first-child {
  size: 1rem;
  text-decoration: none;
  color: black;
  font-family: 'NuovaVolte';
  margin: 1rem;
  padding: 0.5rem 0rem;
}

header > img {
  width: 3rem;
  height: 3rem;
  margin: 0.6rem;
}

.carrito {
  margin: 1rem;
  border: 2px solid lightgrey;
  padding: 0.5rem;
  text-decoration: none;
  display: flex;
  align-content: center;
  color: blue;
}

.carrito > img {
  width: 1rem;
  height: 1rem;
}

/*MAIN*/

/*SECTION 1*/
main > section:first-child {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0.8rem;
}

main > section:first-child > h1 {
  font-size: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  line-height: 2.4rem;
}

main > section:first-child > p {
  font-size: 0.8rem;
  color: grey;
  padding-top: 1rem;
  padding-bottom: 2rem;
  line-height: 1rem;
}

.blueButton {
  background-color: rgb(37, 83, 233);
  color: white;
  border: 1px solid rgb(37, 83, 233);
  padding: 0.5rem 1rem;
  border-radius: 0.2rem;
}

main > section:first-child > div > button:nth-child(2) {
  background-color: rgb(255, 255, 255);
  color: rgb(37, 83, 233);
  border: 1px solid rgb(37, 83, 233);
  padding: 0.5rem;
  border-radius: 0.2rem;
}

/*DIV LI*/
.checkmarkAzul {
  height: 1rem;
  width: 1rem;
  display: inline-block;
}

main > div > ul {
  display: flex;
  font-size: 0.7rem;
  border-top: 2px solid lightgrey;
  padding: 1rem;
  list-style-type: none;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* Last Report */
main > section > article {
  display: grid;
  padding: 1.5rem;
  border: 1px solid rgb(134, 134, 134);
}
main > section > article > img {
  height: auto;
  max-width: 85vmin;
  margin-bottom: 0.3rem;
}

main > section > article > h5 {
  color: rgb(37, 83, 233);
  size: 0.6rem;
  margin: 0.5rem 0px;
  font-weight: lighter;
}
main > section > article > h3 {
  font-size: 1.3rem;
  margin: 0.5rem 0px;
}

main > section > article > p {
  font-size: 0.7rem;
  margin: 0.5rem 0px;
  color: rgb(134, 134, 134);
  line-height: 1.3rem;
}

main > section > article > ul > li {
  list-style-type: none;
  font-size: 0.8rem;
  color: rgb(134, 134, 134);
  padding: 0.5rem 0px;
}

main > section > article > ul > li > span {
  font-weight: 500;
  padding-right: 15px;
  color: black;
}
main > section > article > div {
  margin: 1rem 0rem;
}

main > section > article > div > button {
  margin-right: 0.6rem;
}

.greyButton {
  background-color: rgb(255, 255, 255);
  border: 1px solid lightgray;
  padding: 0.5rem 1rem;
  border-radius: 0.2rem;
}
/* Past Reports */
.pastReport {
  background-color: rgb(240, 240, 240);
}
.pastReport > h2 {
  padding: 3rem 1.3rem 2rem;
}

.pastReport > article {
  border: 0px;
}
/* Plans */
.plansSection > div {
  color: white;
  padding: 1.3rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.plansSection > div:first-child {
  background-color: rgb(37, 83, 233);
}

.plansSection h2 {
  font-size: 2.5rem;
}

.plansSection p {
  font-size: 0.8rem;
  padding: 1rem 0px;
  line-height: 1.3rem;
}

.plansSection h3 {
  padding: 1rem 0px;
}

.plansSection li {
  list-style-type: none;
  padding: 0.5rem;
  font-size: 0.8rem;
}

.plansSection ul li:before {
  content: '✓ ';
}

.plansSection button {
  padding: 0.5rem;
  align-self: flex-start;
}

.plansSection button:first-of-type {
  background-color: white;
  border: 0px;
  padding: 0.5rem 1rem;
  border-radius: 0.2rem;
  margin: 0.4rem;
}
.plansSection button:last-of-type {
  border: 0px;
  padding: 0.5rem 1rem;
  border-radius: 0.2rem;
  margin: 0.4rem;
  border: 1px solid white;
  color: rgb(255, 255, 255);
}

.plansSection div:first-of-type button:first-of-type {
  color: rgb(37, 83, 233);
}

.plansSection div:first-of-type button:last-of-type {
  background-color: rgb(37, 83, 233);
}

.plansSection > div:last-child {
  background-color: rgb(0, 0, 0);
}

.plansSection div:last-of-type button:first-of-type {
  color: rgb(0, 0, 0);
}
.plansSection div:last-of-type button:last-of-type {
  background-color: black;
}

/* Latest News*/

/* Before Footer */
.beforeFooter {
  background-color: rgb(240, 240, 240);
  padding: 0.8rem;
}
.beforeFooter > h3 {
  margin: 1.5rem 0rem 0.5rem 0rem;
}

.beforeFooter > p {
  font-size: 0.8rem;
  padding: 1rem 0px;
}

.beforeFooter > button {
  border: 0px;
  padding: 0.5rem 1rem;
  border-radius: 0.2rem;
  margin: 0.4rem;
  border: 1px solid lightgrey;
}
/* Footer */

footer {
  padding: 1rem 0.5rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

footer img {
  max-height: 1rem;
  max-width: 100%;
  margin-right: 0.3rem;
}

footer p {
  size: 0.6rem;
  color: lightgrey;
}

footer ul {
  display: none;
}
@media (min-width: 765px) {
  main > section:first-child > h1 {
    font-size: 5rem;
    line-height: 5.5rem;
    margin: 10px;
  }
  main > section:first-child > p {
    font-size: 1.5rem;
    line-height: 2rem;
    margin: 1rem;
  }
  main > section:first-child > div {
    margin: 2rem 1.5rem;
  }
  main > section:first-child > div > button {
    font-size: 1.3rem;
  }
  .lastReport > img {
    height: auto;
    max-width: 200px;
    grid-column: 1;
    grid-row: 1 / span 5;
    align-self: center;
    margin: 2rem;
  }

  .lastReport h5,
  .lastReport h3,
  .lastReport p,
  .lastReport ul,
  .lastReport div {
    grid-column: 2;
    margin: 1.6rem;
  }

  .lastReport h5 {
    font-size: 1.3rem;
  }
  .lastReport h3 {
    font-size: 3rem;
  }
  .lastReport p {
    font-size: 1.2rem;
    line-height: 2rem;
  }
  .lastReport ul li {
    font-size: 1.2rem;
  }
  .lastReport button {
    font-size: 1.3rem;
  }

  .pastReport {
    display: flex;
    flex-wrap: wrap;
  }
  .pastReport h2 {
    width: 100vmin;
  }

  .pastReport article {
    max-width: 220px;
    border-right: 1px solid lightgrey;
    padding: 4rem;
  }
  .pastReport img {
    height: auto;
    max-width: 200px;
  }

  .plansSection {
    display: flex;
  }

  .plansSection div {
    margin: 2rem;
  }
  .plansSection p {
    font-size: 1rem;
    line-height: 2rem;
  }
  .beforeFooter {
    padding: 2rem;
  }
  .beforeFooter h3 {
    font-size: 2rem;
  }
  .beforeFooter p {
    font-size: 1.3rem;
    line-height: 2rem;
  }
  .beforeFooter button {
    font-size: 1.5rem;
  }
  footer {
    margin: 2.5rem;
  }

  footer img {
    max-height: 2.5rem;
  }
}
@media (min-width: 1026px) {
  header {
    display: none;
  }
  nav {
    display: flex;
    justify-content: space-between;
    padding: 4rem;
    align-items: center;
  }
  nav ul li {
    display: inline;
    margin: 0rem 1rem;
    color: lightgrey;
  }

  nav ul li:hover {
    color: black;
    border-bottom: 3px solid blue;
  }

  nav > a:first-of-type {
    text-decoration: none;
    color: lightgrey;
  }
  nav button {
    background-color: blue;
    color: white;
    border: none;
    padding: 1rem;
    border-radius: 10px;
  }
  main > section:first-of-type {
    padding: 1rem 6rem;
  }
  .lastReport {
    padding: 5rem;
  }
  .lastReport img {
    max-width: 350px;
  }

  .pastReport h2 {
    width: 100%;
  }
  .beforeFooter {
    display: grid;
    padding: 5rem;
  }

  .beforeFooter p,
  .beforeFooter button {
    grid-column: 2;
  }

  .beforeFooter button {
    max-width: 10rem;
  }
  footer ul {
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
    list-style-type: none;
  }

  footer li {
    padding: 0rem 1rem;
    font-size: 1.4rem;
    color: lightgray;
  }
}
